{% for cat in categories %}
    <{{type}}>
      <a href="{{ path('categorie_films', {
        'categorie': cat.name|lower|replace({' ': '-'}),
      }) }}">{{ cat.name|capitalize }}</a>
    </{{type}}>
{% endfor %}