<nav>
	<h3><a href="{{ path('home') }}">Vidéotheque</a></h3>
	<div class="nav__items">
    <div class="categorie">
      <span>Catégories</span>
      <ul class="categorie__items">
        {{ render(controller('App\\Controller\\HomeController::categories')) }}
      </ul>
    </div>
    <a>Recherche</a>
    <a href="{{ path('nouveau_film') }}">Nouveau film</a>
  </div>
</nav>
